 * { 
    font-family: arial;
   
 }

#container-buttons{ 
    background-color: antiquewhite;
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 5px;
    border-radius: 10%;
}

#main { 
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    background-color: black;
    color: white;
}

.button { 
    border: none;
    border-radius: 10%;
    background-color: white;
    width: 80px;
    height: 30px;
    cursor: pointer;
    font-weight:600;
}

#div-text-placar { 
    height: auto;
    width: auto;
    display: flex;
    align-self: end;
    justify-self: center;
}

#container-buttons { 
    display: flex;
    flex-direction: column;
    color: black;
}

.div-h3-text { 
    width: 100%;
    align-items: center;
    margin-left: 10px;
}